.card:hover img {
    transform: scale(1.2,1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.card img {
    transform: scale(1.0,1.0);
    transition-duration: 1500ms;
    transition-timing-function: ease-out;
}

.card-img-wrapper {
    overflow: hidden;
}