<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <div class="mb-3 form-floating">
        <input
            type="text"
            class="form-control"
            formControlName="username"
            placeholder="Username">
        <label>Username</label>
    </div>

    <div class="mb-3 form-floating">
        <input
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Password">
        <label>Password</label>
    </div>

    <div class="mb-3 form-floating">
        <input
            type="password"
            class="form-control"
            formControlName="confirmPassword"
            placeholder="Confirm password">
        <label>Confirm password</label>
    </div>

    <div class="form-group text-center">
        <button class="btn btn-success me-2" type="submit">Register</button>
        <button class="btn btn-default me-2" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>

<p>Form value: {{registerForm.value | json}}</p>
<p>Form status: {{registerForm.status | json}}</p>