<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <div class="mb-3 form-floating">
        <input
            [class.is-invalid]="registerForm.get('username')?.errors && registerForm.get('username')?.touched"
            type="text"
            class="form-control"
            formControlName="username"
            placeholder="Username">
        <label>Username</label>
        <div class="invalid-feedback text-start">Please enter a username</div>
    </div>

    <div class="mb-3 form-floating">
        <input
            [class.is-invalid]="registerForm.get('password')?.errors && registerForm.get('password')?.touched"
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Password">
        <label>Password</label>
        <div *ngIf="registerForm.get('password')?.hasError('required')" class="invalid-feedback text-start">Please enter a password</div>
        <div *ngIf="registerForm.get('password')?.hasError('minlength')" class="invalid-feedback text-start">Password must have at least 4 chars</div>
        <div *ngIf="registerForm.get('password')?.hasError('maxlength')" class="invalid-feedback text-start">Password must have at most 8 chars</div>
    </div>

    <div class="mb-3 form-floating">
        <input
            [class.is-invalid]="registerForm.get('confirmPassword')?.errors && registerForm.get('confirmPassword')?.touched"
            type="password"
            class="form-control"
            formControlName="confirmPassword"
            placeholder="Confirm password">
        <label>Confirm password</label>
        <div *ngIf="registerForm.get('confirmPassword')?.hasError('required')" class="invalid-feedback text-start">Please enter a confirm password</div>
        <div *ngIf="registerForm.get('confirmPassword')?.hasError('isMatching')" class="invalid-feedback text-start">Passwords must match</div>
    </div>

    <div class="form-group text-center">
        <button class="btn btn-success me-2" type="submit">Register</button>
        <button class="btn btn-default me-2" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>

<p>Form value: {{registerForm.value | json}}</p>
<p>Form status: {{registerForm.status | json}}</p>