<div class="row">
    
    <div class="text-center mt-3">
        <h2>Your matches - {{membersService.paginatedResult()?.pagination?.totalItems}}</h2>
    </div>

    <div class="container mt-3">
        <form #form="ngForm" class="d-flex mb-3" (ngSubmit)="loadMembers()">
            <div class="d-flex mx-2">
                <label class="col-form-label">Age from: </label>
                <input type="number"
                    class="form-control ms-1"
                    style="width: 70px;"
                    name="minAge"
                    [(ngModel)]="membersService.userParams().minAge">
            </div>
            <div class="d-flex mx-2">
                <label class="col-form-label">Age to: </label>
                <input type="number"
                    class="form-control ms-1"
                    style="width: 70px;"
                    name="maxAge"
                    [(ngModel)]="membersService.userParams().maxAge">
            </div>
            <div class="d-flex mx-2">
                <label class="col-form-label">Show: </label>
                <select name="gender"
                    style="width: 130px;"
                    class="form-select ms-1"
                    [(ngModel)]="membersService.userParams().gender">
                    @for (gender of genderList; track gender.value) {
                        <option [value]="gender.value">{{gender.display}}</option>
                    }
                </select>
            </div>

            <button class="btn btn-primary ms-1" type="submit">Filter</button>
            <button (click)="resetFilters()" class="btn btn-info ms-1" type="submit">Reset</button>

            <div class="col">
                <div class="btn-group float-end">
                    <button type="button"
                        class="btn btn-primary"
                        name="orderBy"
                        (click)="loadMembers()"
                        btnRadio="lastActive"
                        [(ngModel)]="membersService.userParams().orderBy"
                    >Last Active</button>
                    <button type="button"
                        class="btn btn-primary"
                        name="orderBy"
                        (click)="loadMembers()"
                        btnRadio="created"
                        [(ngModel)]="membersService.userParams().orderBy"
                    >Recently joined</button>
                </div>
            </div>
        </form>
    </div>

    @for (member of membersService.paginatedResult()?.items; track member.id) {
        <div class="col-2">
            <app-member-card [member]="member"></app-member-card>
        </div>
    }

</div>

@if (membersService.paginatedResult()?.pagination) {
    <div class="d-flex justify-content-center">
        <pagination
            [boundaryLinks]="true"
            [totalItems]="membersService.paginatedResult()?.pagination!.totalItems"
            [itemsPerPage]="membersService.paginatedResult()?.pagination!.itemsPerPage"
            (pageChanged)="pageChanged($event)"
            [(ngModel)]="membersService.paginatedResult()?.pagination!.currentPage"
            [maxSize]="12"
            previousText="&lsaquo;"
            nextText="&rsaquo;"
            firstText="&laquo;"
            lastText="&raquo;">
        </pagination>
    </div>
}