<div>
    <button class="btn btn-primary me-3" (click)="get400Error()">400 Error</button>
    <button class="btn btn-primary me-3" (click)="get401Error()">401 Error</button>
    <button class="btn btn-primary me-3" (click)="get404Error()">404 Error</button>
    <button class="btn btn-primary me-3" (click)="get500Error()">500 Error</button>
    <button class="btn btn-primary me-3" (click)="get400ValidationError()">400 Validation Error</button>

    @if (validationErrors.length > 0) {
        <div class="row mt-5">
            <ul class="text-danger">
                @for (error of validationErrors; track $index) {
                    <li>{{error}}</li>
                }
            </ul>
        </div>
    }
</div>
