<div class="text-center mt-3">
    <h2>{{getTitle()}}</h2>
</div>

<div class="container mt-3">
    <div class="d-flex">
        <div class="btn-group">
            <button
                class="btn btn-primary"
                btnRadio="liked"
                [(ngModel)]="predicate"
                (click)="loadLikes()">
                Members I like
            </button>
            <button
                class="btn btn-primary"
                btnRadio="likedby"
                [(ngModel)]="predicate"
                (click)="loadLikes()">
                Members who like me
            </button>
            <button
                class="btn btn-primary"
                btnRadio="mutual"
                [(ngModel)]="predicate"
                (click)="loadLikes()">
                Mutual like
            </button>
        </div>
    </div>

    <div class="row mt-3">
        @for (member of members; track member.id) {
            <div class="col-2">
                <app-member-card [member]="member"></app-member-card>
            </div>
        }
    </div>
</div>